                                                            ...:....                                
                                                            . .+-. .                                
                                                             ..==:..                                
                                                            ...=+-..                                
                                                            ...++=.                                 
                                                            ...++=..                                
                                                            ..=++-..                                
                                                         ....-+++-..                                
                                                         ...-+++=...                                
                                                     ......-++++.                                   
                                                      ...:+++++..                                   
                                                  ......-++++=..                                    
                                                   ...-+++++-...                                    
                                               .....++++++=:.             ....                      
                                           . .....=++++++=...   ...... .....::.. .                  
                                           .. .:+++++++=.       ......:-==-...                      
                                        .....-+++++++=: .   . ....--++=-.... .                      
                                        ...=+++++++-..     ....==+++-....                           
                                     ...:=+++++++-.   .....:=++++=:.                                
                                     .:=++++++=:.     ...-+++++=...                                 
                                   ..-++++++=:.   .....=+++++=...                                   
                                 ..:+++++++=. .   ...:+++++=:  .                                    
                              ....-+++++++:.      ..=+++++=..                                       
                              ...:+++++++...      .=+++++=...                                       
                               ..=++++++:...   ...-++++++.. .                                       
                               ..=+++++=...    ...-++++++.. .                                       
                              ...-+++++-.      ...-+++++++...                                       
                              ...:+++++-.      ...-+++++++=..                                       
                                 .-++++=:      ...-++++++++=..                                      
                                 ..-++++:...      .=+++++++++:. .                                   
                                 ....++++:..      ..=+++++++++:..                                   
                                     .=+++:. ..   ...-+++++++++-.. .                                
                                     ..:=++-...     ..:=++++++++:...                                
                                        .-++-..      ...=+++++++-...                                
                                        ...=++.      ....=++++++:.                                  
                                            :=+:...      .+++++=                                    
                           ... .. .        ...:=-.   .....++++-..              . .. ..   ..         
                           ... .....           ..:.  .....++=....            ......------:.....     
                 .........:=====:...           ....  ....==:....             . .-:::::-+++++=....   
                ....-++++++.......                   ..:=....                  ...  .....++++++...  
          ......-++++++:...                          ........ .... ...........         . ..+++++..  
          ...=++++++++-:...                           ........::::::-++++=:.           . ..-++++=.  
            .:=+++++++++++++=---------------------==++++++++++++++++=--:...               .:++++=.. 
             ....:::-=+++++++++++++++++++++++++++++++++++=-:::::...   . .                 .-++++=.. 
                           ........................                                    ...:+++++..  
                           .  ...........  ....                                        ..-+++++.. . 
                       ...::=:.                                                     ....+++++:.     
                    ....-+++-..   ...... ......       .. . .... ...... ....     ... ..=++++:. .     
                    ...-+++++===-:......................:-====++++++=.....       ..-=+++-.          
                     ...=++++++++++++++++++++++++++++++++++++++++++++++-... ....:+++=.. .           
                       .....++++++++++++++++++++++++++++++++++++=... .........++:..                 
                                   ..-=+++=====++++=-:..                                            
                                     .. ..............                                              
                           .....:.                                                                  
                           .:=++..                                                                  
                          .+++++++=:....... .............-++++++=.......                            
                 .        .-++++++++++++++++++++++++++++++++++++++++...                             
                  ....     ..-=+++++++++++++++++++++++++++++++++++=-....                            
      .....  ....:---:..   .... .:--=+++++++++++++++++++++=---.. .....                  ....        
      ....:==+++-::.....           . ......:::::::::........                           ..-.         
. ....:+++++-....                                                                 .. ....=+:.       
....++++++*...                                                                    .....-++:.        
..:++++++++++-::......... .. ............................... .......... .......:::=+++=-.  ........ 
...:=+++++++++++++++=-----::..........   ......................:::------=++++++++=-:. ...  ....--.  
     ..::::-=++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=-::.. .   .......:=++:..  
      ... ..............::-=+++++++++++++++++++++++++++++++=--:........  ...        ..:==++++:..    
                    .........                               . ....   . .. .....:=++++++++=...       
                   .--:::.:......... .      ..........   ........::::-=+++++++++++==-.... ..        
                     .....:---==++++++++++++++++++++++++++++++++++++++==-==-:.....                  
                    ..  ..... ...............::::::::::::.......... .......   .                     
                                                                                                    
                                                                                                    
                                                                                                    
   . ........                                                                                       
    ..-+++++-.                                                                                      
    ..-+++++-.                                                                                      
    ..-+++++-.                                                                                      
    ..-+++++-.                                                                                      
    ..-+++++-.   .. . ...... ... . ....  . .. .....           ......... . .... ... .... ... .. .. ..
    ..-+++++-.   . ...:---++++++=--:........------.         ..:------.......:::-=++++++---......::.:
    ..-+++++-.  ..:=+++++++++++++++++-. ....=+++++-...      ..=+++++=  ..-+++++++++++++++++=:...:.--
    ..-+++++-.   ..=+++++=:::-=+++++++=..   :++++++:..      ..=+++++.....-++++++-:::=++++++++:. ..  
    ..-+++++-.   . ........ .....=+++++-.  ..-+++++=..      .:++++++........ . ........-++++++.     
    ..-+++++-.                ...:+++++=.  . :=+++++..      .=+++++.....               .=+++++:     
    ..-+++++-.           . ......:=++++=.  ...=++++++.   ...:=++++=..        . ........ -+++++:..   
    ..-+++++-.         ..........:=++++=.  ....++++++-.  ...-+++++:.         . .........-+++++:..   
    ..-+++++-.   .....:===+++++++++++++=.    ..:+++++=......=++++=..    .. ..-==++++++++++++++:..   
    ..-+++++-.   ...=++++++++++++++++++=.      .++++++-....:+++++-..  ....:+++++++++++++++++++:..   
    ..-+++++-.  ..-++++++:..     :=++++=.      ..++++++:...+++++=...  ...++++++=... .  .-+++++:..   
    ..-+++++-.  .:+++++-. .      :=++++=.      ..-+++++-..-+++++:..   ..=++++=.....    .-+++++:..   
    ..-+++++-.  .+++++=.         :=++++=.      ..:++++++:.+++++-.     .-+++++:.        .-+++++:..   
   ...-+++++-.  .+++++=:.... ....:=++++=.      ...-+++++:=+++++..     .-+++++-..........=+++++:..   
   ...-+++++-.  .-+++++=:......:=++++++=.        ..=++++++++++..      .:++++++=.......-+++++++:..   
   . .=+++++-.  .:+++++++++++++++++++++=.      . ..=+++++++++:..      ..=+++++++++++++++++++++:..   
   ...++++++-.   ..-+++++++++++=-..=+++=.         ..++++++++-....     ....=+++++++++++=:..++++:..   
   ...+++++=:.   .....:------:...........         ............ .       .....:-------.... .......    
   ..=+++++=..      ..........                                            ....... ...               
...:=++++++.               .                                                       .                
.:+++++++-.  .                                                                                      
:=+++++-..                                                                                          
..==-:....                                                                                          
290175f44a873dd69d857d9213107678
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>Deploy Java War package to Azure web app</string>
		<key>on</key>
		<array>
			<string>push</string>
			<string>pull_request</string>
		</array>
		<key>env</key>
		<dict>
			<key>AZURE_WEBAPP_NAME</key>
			<string>JavaPetstore</string>
			<key>AZURE_WEBAPP_PACKAGE_PATH</key>
			<string>${{ github.workspace }}</string>
			<key>JAVA_VERSION</key>
			<real>1.8</real>
			<key>AZURE_WEBAPP_PUBLISH_PROFILE</key>
			<string>${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}</string>
		</dict>
		<key>jobs</key>
		<dict>
			<key>build-and-deploy</key>
			<dict>
				<key>name</key>
				<string>Build and Deploy</string>
				<key>runs-on</key>
				<string>ubuntu-latest</string>
				<key>environment</key>
				<string>dev</string>
				<key>steps</key>
				<array>
					<dict>
						<key>uses</key>
						<string>actions/checkout@v3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Set up JDK 1.8</string>
						<key>uses</key>
						<string>actions/setup-java@v1</string>
						<key>with</key>
						<dict>
							<key>java-version</key>
							<string>${{ env.JAVA_VERSION }}</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>Build with Maven</string>
						<key>run</key>
						<string>mvn package --file pom.xml</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Deploy to Azure WebApp</string>
						<key>uses</key>
						<string>azure/webapps-deploy@v2</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
